.padding-y-5 {
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
}

mat-error,
mat-hint {
    line-height: normal;
}

::ng-deep {
  .mdc-floating-label {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
  }
}