.section-padding {
  padding: 3rem 1.125rem 1.125rem 1.125rem;
}

.login-form {
  width: 31.25rem;
  border: 0.125rem solid #a900a9;
  border-radius: 0.5rem;
  padding: 1.125rem;
}

.button-style {
  height: 3rem;
  font-size: 1.1rem;
  margin-top: 0.375rem;
  margin-bottom: 0.375rem;
  background-color: #e7c8f8;
}

.button-style:disabled {
  color: #6c757d;
  background-color: #eedee7;
}

a {
  cursor: pointer;
  color: black;
  text-decoration: none;
}

a:hover {
  color: #a900a9;
  font-weight: bold;
}

.forgot-password-link {
  text-align: right;
  margin-top: -20px;

  button {
    text-transform: none;
    font-size: 14px;
  }
}

@media (max-width: 576px) {
  .login-form {
    width: 100%;
  }

  .forgot-password-link {
    text-align: start;
    margin-top: 1px;
    margin-left: 3px;
  }

  .register-link {
    padding-left: 0;
  }

  .register-text {
    margin-top: 10px;
    margin-bottom: 15px;
  }

  .register-div {
    display: block;
  }
}

@media (max-width: 330px) {
  .login-form {
    border: none;
    padding: 0;
  }

  .forgot-password-link {
    margin-top: 10px;
  }
}