.section-padding {
  padding: 3rem 1.125rem 1.125rem 1.125rem;
}

.signup-form {
  width: 31.25rem;
  border: 0.125rem solid #a900a9;
  border-radius: 0.5rem;
  padding: 1.125rem;
}

mat-form-field {
  width: 100%;
}

.button-style:disabled {
  color: #eedee7;
  background-color: rgb(100, 187, 151);
}

.button-style {
  height: 3rem;
  font-size: 1.1rem;
  margin-top: 0.375rem;
  background-color: rgb(36, 161, 109);
  color: #ffffff;
}

@media (max-width: 576px) {
  .signup-form {
    width: 100%;
  }
}

@media (max-width: 330px) {
  .signup-form {
    border: none;
    padding: 0;
  }
}
