<h2 mat-dialog-title>Забравена парола</h2>

<mat-dialog-content>
    <p class="description">
        Моля въведете имейл адреса, свързан с вашия акаунт. Ще ви изпратим инструкции за възстановяване на паролата.
    </p>

    <form [formGroup]="forgotPasswordForm">
        <mat-form-field appearance="outline"
                        class="w-full">
            <mat-label>Имейл</mat-label>
            <input matInput
                   type="email"
                   formControlName="email"
                   placeholder="Моля въведете валиден имейл"
                   autocomplete="email" />
            <mat-icon matPrefix>email</mat-icon>

            @if (forgotPasswordForm.get('email')?.hasError('required') && forgotPasswordForm.get('email')?.touched) {
            <mat-error>Имейлът е задължителен</mat-error>
            }
            @if (forgotPasswordForm.get('email')?.hasError('email') && forgotPasswordForm.get('email')?.touched) {
            <mat-error>Въведете валиден имейл адрес</mat-error>
            }
        </mat-form-field>
    </form>
</mat-dialog-content>

<mat-dialog-actions class="actions"
                    align="end">
    <button mat-button
            (click)="onCancel()"
            [disabled]="userStore.loading()"
            type="button">
        Отказ
    </button>
    <button matButton="filled"
            color="primary"
            (click)="onSubmit()"
            [disabled]="forgotPasswordForm.invalid || userStore.loading()"
            type="button">
        @if (userStore.loading()) {
        <span>Изпращане...</span>
        } @else {
        <span>Изпрати</span>
        }
    </button>
</mat-dialog-actions>